<%- include('../partials/header.ejs') %>
<div class="layout-wrapper">
    <%- include('../partials/sidebar.ejs') %>
    <main class="dashboard-main">
        <div class="content-wrapper">
            <h1>Meu Perfil</h1>
            <div class="card-box">
                <form action="/client/profile/update" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-input" value="<%= user.name %>" disabled>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-input" value="<%= user.email %>" disabled>
                    </div>
                    <button class="btn btn-primary" type="button">Editar Dados</button>
                </form>
            </div>
        </div>
    </main>
</div>
<%- include('../partials/footer.ejs') %>
